<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<document>
    <options>
		<forbiddentypes>.jpg
.jpeg
.gif
.png</forbiddentypes>
		<excludelist></excludelist>
	<sitemapurl>/sitemap.xml</sitemapurl>
	<priority>auto</priority>
	<changefreq>daily</changefreq>
	<method>curl</method>
	<level>3</level>
	<maxconn>50</maxconn>
	<docroot>/home/httpd/vhosts/artdesign.com.br/subdomains/hab/httpdocs</docroot>
	<timeout>20</timeout>
	</options>
</document>